<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rise&Set</title>
</head>
<body>
<!-- <button class="home">Home</button> -->
<div class='nav'>
  <ul class="nav-bar">
    <li><a class="navLink" href="#/" id="home">Home</a></li>
  </ul>
</div>
  <h1>Rise&Set</h1>
  <form class="locationForm">
  <h3>Enter your Location:</h3>
  <input type="text" name="latitude" id="lattitude" class="inputLocation" ng-model="address" size=40 required><br>
  <button type="button" id="submitLocation" ng-click="getTimes(address)">Submit</button><br>
  <button type="button" id="locateMe" ng-click="getCurrentLocation()">Use Current Location</button>
  </form>

</body>
</html>
